<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>162244151198-j0pe484lih5loql4ecev7rcth1e2ov2t.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.162244151198-j0pe484lih5loql4ecev7rcth1e2ov2t</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>162244151198-02qd0nfgpv35qf0k5ecof8siurp4lqgi.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAdlvZ7_sQht4NKD9wsJR7uwcLByCluH3o</string>
	<key>GCM_SENDER_ID</key>
	<string>162244151198</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.hookedfangtagebuch</string>
	<key>PROJECT_ID</key>
	<string>hooked-fangtagebuch</string>
	<key>STORAGE_BUCKET</key>
	<string>hooked-fangtagebuch.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:162244151198:ios:0375eab2c8d53bb645f88f</string>
</dict>
</plist>